# Ignore all .ipynb_checkpoints folders anywhere in the repo
.ipynb_checkpoints/

# Ignore these top-level directories
gokce/
outfiles/
plots/
samples/
tables/
bulk_ATAC_pipeline_processing/
HiC_pipeline_processing/
RepliSeq_pipeline_processing/
segmentation_files_all_cohorts/
scripts/hic_qc/

# Ignore .ipynb_checkpoints within ML folder (redundant but harmless)
ML/**/.ipynb_checkpoints/

# Ignore everything under ML
ML/*

# Unignore ML folders themselves so Git can traverse into subfolders
!ML/
!ML/**/

# Include only .ipynb files inside ML folder
!ML/**/*.ipynb

